<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle%> | Portfolio</title>
  </head>
  <body>
    <h1><%= nom%></h1>
    <h2><%= email%></h2>
    <p>Lien vers GitHub: <b><%= github%></b></p>
    <p>Ville: <b><%= ville%></b></p>
    <p>
      Backend Developper et Data analyst en devenir. Actuellement Etudiant en
      Informatique
    </p>
  </body>
</html>
